/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #7a839d;
  --ifm-color-primary-dark: #4e546a;
  --ifm-color-primary-darker: #393d4d;
  --ifm-color-primary-darkest: #2b2e39;
  --ifm-color-primary-light: #a8b3d8;
  --ifm-color-primary-lighter: #dfedef;
  --ifm-color-primary-lightest: #e9f7f9;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #96a5be;
  --ifm-color-primary-dark: #778398;
  --ifm-color-primary-darker: #6a7280;
  --ifm-color-primary-darkest: #616671;
  --ifm-color-primary-light: #b5c8eb;
  --ifm-color-primary-lighter: #e5f6f5;
  --ifm-color-primary-lightest: #ebfdfe;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
