name: publish-to-npm-release
on:
  push:
    branches:
      - release

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/actions/install
    - run: pnpm check:all
    - run: pnpm -r publish --no-git-checks
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
    - uses: MerthinTechnologies/edit-json-action@v1
      with:
        filename: './packages/eslint-plugin/package.json'
        key: 'name'
        value: 'eslint-plugin-boundaries'
    - run: pnpm publish --no-git-checks
      working-directory: ./packages/eslint-plugin
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
