name: publish-beta-to-npm
on:
  release:
    types: [created]
jobs:
  publish:
    runs-on: ubuntu-latest
    if: contains(github.event.release.target_commitish, 'release-') && contains(github.event.release.target_commitish, '-beta.')
    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/actions/install
    - run: pnpm nx run-many -t check:all --all
    - run: pnpm -r publish --no-git-checks --tag beta
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
